
/* ***** ROW ***** */

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row {
    *zoom: 1;
}

/* ***** BASIC COLUMNS ***** */

[class*="col-"] {
    position: relative;
    float: left;

    /* temp formats */
    text-align: center;
    background-color: #ddd;
    border: 1px solid #00315D;
}

/* ***** COLUMNS ***** */

.col-1  {width:   8.33334%;}
.col-2  {width:  16.66667%;}
.col-3  {width:  25.00000%;}
.col-4  {width:  33.33334%;}
.col-5  {width:  41.66667%;}
.col-6  {width:  50.00000%;}
.col-7  {width:  58.33334%;}
.col-8  {width:  66.66667%;}
.col-9  {width:  75.00000%;}
.col-10 {width:  83.33334%;}
.col-11 {width:  91.66667%;}
.col-12 {width: 100.00000%;}

/* ***** OFFSET ***** */

.offset-1  {margin-left:   8.33334%;}
.offset-2  {margin-left:  16.66667%;}
.offset-3  {margin-left:  25.00000%;}
.offset-4  {margin-left:  33.33334%;}
.offset-5  {margin-left:  41.66667%;}
.offset-6  {margin-left:  50.00000%;}
.offset-7  {margin-left:  58.33334%;}
.offset-8  {margin-left:  66.66667%;}
.offset-9  {margin-left:  75.00000%;}
.offset-10 {margin-left:  83.33334%;}
.offset-11 {margin-left:  91.66667%;}
.offset-12 {margin-left: 100.00000%;}

/* ***** PUSH ***** */

.push-1  {left:   8.33334%;}
.push-2  {left:  16.66667%;}
.push-3  {left:  25.00000%;}
.push-4  {left:  33.33334%;}
.push-5  {left:  41.66667%;}
.push-6  {left:  50.00000%;}
.push-7  {left:  58.33334%;}
.push-8  {left:  66.66667%;}
.push-9  {left:  75.00000%;}
.push-10 {left:  83.33334%;}
.push-11 {left:  91.66667%;}
.push-12 {left: 100.00000%;}

/* ***** PULL ***** */

.pull-1  {right:   8.33334%;}
.pull-2  {right:  16.66667%;}
.pull-3  {right:  25.00000%;}
.pull-4  {right:  33.33334%;}
.pull-5  {right:  41.66667%;}
.pull-6  {right:  50.00000%;}
.pull-7  {right:  58.33334%;}
.pull-8  {right:  66.66667%;}
.pull-9  {right:  75.00000%;}
.pull-10 {right:  83.33334%;}
.pull-11 {right:  91.66667%;}
.pull-12 {right: 100.00000%;}

/* ***** RESPONSIVE ***** */

@media only screen and (max-width: 480px) {

    [class*="col-"] {
        float: none;
        width: 100% !important;
    }

    [class*="offset-"] {
        margin-left: 0;
    }

    [class*="push-"] {
        left: 0;
    }

    [class*="pull-"] {
        right: 0;
    }

}